.card {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 3rem 0.25rem;
	text-align: center;
	padding: 2rem 0;
	border-radius: 1rem;
	width: 8rem;
	height: 10rem;
	h1 {
		font-size: 1rem;
		color: hsl(263, 22%, 18.5%);

		font-weight: 400;
		span {
			color: hsl(0, 0%, 60%);
			margin-left: 4px;
		}
	}
	img {
		height: 6rem;
		width: 6rem;
		margin: auto;
	}
}
